*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}


body{
background:#f5f7fb;
color:#222;
line-height:1.6;
}


/* Header */

header{

background:#003B8E;
color:white;

padding:20px 50px;

display:flex;
justify-content:space-between;
align-items:center;

}


.logo h1{

font-size:28px;

}


.logo p{

font-size:14px;

}


nav a{

color:white;
text-decoration:none;
margin-left:20px;
font-weight:bold;

}


nav a:hover{

color:#00c3ff;

}



/* Hero */

.hero{

height:85vh;

display:flex;
justify-content:center;
align-items:center;

text-align:center;

background:

linear-gradient(
rgba(0,0,0,0.55),
rgba(0,0,0,0.55)
),

url("images/pump.jpg");

background-size:cover;
background-position:center;

color:white;

}


.hero h2{

font-size:50px;
margin-bottom:20px;

}


.hero p{

font-size:22px;
margin-bottom:30px;

}




.btn{

display:inline-block;

background:#0071e3;

color:white;

padding:15px 35px;

border-radius:35px;

text-decoration:none;

font-size:18px;

}



.btn:hover{

background:#005bb5;

}





/* Statistics */


.stats{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(180px,1fr));

gap:20px;

padding:50px;

background:white;

text-align:center;

}


.stats h2{

font-size:40px;

color:#003B8E;

}





/* Sections */


section{

padding:70px 60px;

background:white;

margin-bottom:20px;

}


section h2{

text-align:center;

font-size:35px;

color:#003B8E;

margin-bottom:30px;

}





/* Cards */


.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}



.card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:
0 5px 20px rgba(0,0,0,0.12);

transition:0.3s;

}



.card:hover{

transform:translateY(-8px);

}



.card h3{

color:#003B8E;

margin-bottom:15px;

}





/* Workshop Image */


.workshop-img{

width:100%;

max-width:800px;

display:block;

margin:20px auto;

border-radius:15px;

}





/* Form */


form{

max-width:600px;

margin:auto;

}


input,
textarea{

width:100%;

padding:15px;

margin:10px 0;

border:1px solid #ccc;

border-radius:8px;

font-size:16px;

}


textarea{

height:120px;

}


button{

background:#003B8E;

color:white;

padding:15px 35px;

border:none;

border-radius:30px;

font-size:16px;

cursor:pointer;

}


button:hover{

background:#0071e3;

}





/* Footer */


footer{

background:#003B8E;

color:white;

text-align:center;

padding:30px;

}






/* Mobile */


@media(max-width:768px){


header{

flex-direction:column;

padding:20px;

}


nav{

margin-top:20px;

}


nav a{

display:inline-block;

margin:8px;

}


.hero h2{

font-size:32px;

}


.hero p{

font-size:18px;

}


section{

padding:40px 20px;

}


}
